body{
    color: lightgrey;
    font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    position: relative;
    left: 8%;
    width: 80%;
    text-align: justify;
}
.background{
        background: -webkit-linear-gradient( bottom right, rgb(8, 49, 83), rgb(14, 14, 83));
        background-size: cover;
}


.newpage{
    box-shadow: 1px 2px 2px black;
    background-color: snow;
    border: solid 1px snow;
    margin: 2% 0% 0% 0%;
    padding:0% 0.2% 0% 0.2%;
    border-radius: 4px;

}

#navbar{
    border:solid 0px;
    border-radius: 4px;
    background-color: rgb(8, 49, 83, 0.2);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    box-shadow: black 0px 1px 2px;
}

#Linkedin{
    background-image: linear-gradient( lightgrey,slategrey );
    border: solid 1px snow;
    margin: 2% 0% 0% 0%;
    padding:0% 0.2% 0% 0.2%;
    border-radius: 4px;
}

#Instagram{
    background-image: linear-gradient(to bottom, orange ,rgb(248, 9, 248));
    border: solid 1px snow;
    margin: 2% 0% 0% 0%;
    padding:0% 0.2% 0% 0.2%;
    border-radius: 4px;
}


footer{
    position: static;
    bottom: 5%;
}