body{
    color: lightgrey;
    font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    position: relative;
    left: 8%;
    width: 80%;
    text-align: justify;
}
.background{
    background-image: linear-gradient(-180deg, rgb(22, 76, 121), rgb(26, 26, 77));
    background-size: cover;
}


.newpage{
    box-shadow: 1px 2px 5px black;
    background-color: snow;
    border: solid 1px snow;
    margin: 2% 0% 0% 0%;
    padding:0% 0.2% 0% 0.2%;
    border-radius: 4px;

}


#Linkedin{
    background-image: linear-gradient( lightgrey,slategrey );
    border: solid 1px snow;
    margin: 2% 0% 0% 0%;
    padding:0% 0.2% 0% 0.2%;
    border-radius: 4px;
}

#Instagram{
    background-image: linear-gradient(to bottom, orange ,rgb(248, 9, 248));
    border: solid 1px snow;
    margin: 2% 0% 0% 0%;
    padding:0% 0.2% 0% 0.2%;
    border-radius: 4px;
}


footer{
    position: static;
    bottom: 5%;
}