body{
    color: rgba(255, 255, 255, 0.87);
    font-family:  'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    position: fixed;
    left: 2%;
    right: 2%;

}


.background{
    background: -webkit-linear-gradient(top left, rgb(58, 45, 121), rgb(19, 18, 29))fixed;

}



.field,table{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 0px solid ;
    border-radius: 5px;
    background-color: slateblue;
    box-shadow: 1px 2px 2px rgb(20, 11, 36);
    
    padding-left: 1px;
    padding-right: 1px;

    text-align: justify;

    
}

.button{
    border: 0px solid;
    border-radius: 5px;
    padding-right: 5px;
    background-color: slateblue;
    box-shadow: 1px 1px 2px rgb(20, 11, 36);
}


.field_det{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 0px;
    border-radius: 5px;
    background-color: slateblue;
    box-shadow: 1px 1px 2px rgb(20, 11, 36);
    
    padding-left: 2px;
    padding-right: 1px;
    padding-bottom: 3px;

    text-align: justify;
}

.fieldfoot{
   position:fixed;
   right: 10px;
   bottom: 10px;
}

.r-img{
    border-radius: 6px;
    border: 1px dotted snow;
    
}

a:link{
    color: rgb(229, 224, 255);

}

a:visited{
    color: rgb(177, 155, 255);
}

a:hover{
    color: lightgrey;
    transition: 200ms ease;
}
#open-up{
    
    animation-name: open-up;
    animation-duration: 1s;

}


@keyframes open-up{
    0%{
        transform: translate(-100%)

    }
    55%{
        transform: translate(1%)

    }
    100%{

    }
}

#open-up2{
    
    animation-name: open-up2;
    animation-duration: 1s;

}

@keyframes open-up2{
    0%{
        transform: translate(100%)

    }
    55%{
        transform: translate(-1%)

    }
    100%{

    }
}

