.body_class{
    font-family: 'Anonymous Pro', monospace;
    font-size: 14px;
    color: whitesmoke;
    background: -webkit-radial-gradient(bottom , rgb(33, 25, 105), rgb(14, 14, 78)) fixed;
}


footer{
    color: rgb(177, 155, 255);
}

.r-img:hover{
    transition: 0.5s;
    width:30% ;
    height: 0% ;
}

.r-img{
    position: static;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 2px solid lightgray;
    
}

.lang{
    text-align: end
}

a:link{
    color: lime;

}

a:visited{
    color: rgb(156, 156, 156);
}

a:hover{
    color: lightgrey;
    transition: 200ms ease;
}

#fade-in{
    -webkit-animation-name:fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;

}

@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    100%{}
}

#img-anim{
    -webkit-animation-name: img-anim;
    -webkit-animation-duration: 1.5s;
}
@keyframes img-anim{
    0%{
        opacity: 0%;
    }
    80%{
        opacity: -5%;
    }
    100%{

    }
}

#open-up{
    
    -webkit-animation-name: open-up;
    -webkit-animation-duration: 1.2s;

}

@keyframes open-up{
    0%{
        transform: translate(-100%)

    }
    55%{
        transform: translate(1%)

    }
    100%{

    }
}

#open-up2{
    
    -webkit-animation-name: open-up2;
    -webkit-animation-duration: 1.2s;

}

@keyframes open-up2{
    0%{
        transform: translate(100%)

    }
    55%{
        transform: translate(-1%)

    }
    100%{

    }
}

