body{
    color: rgba(255, 255, 255, 0.87);
    font-family:  'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    position: fixed;
    left: 2%;
    right: 2%;

}


.background{
    background: -webkit-linear-gradient(top left, rgb(58, 45, 121), rgb(19, 18, 29))fixed;

}



.field,table{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: 0px solid ;
    border-radius: 5px;
    background-color: slateblue;
    box-shadow: 1px 2px 2px rgb(20, 11, 36);
    
    margin-left: 30px;
    padding-left: 45px;
    padding-right: 2px;

    text-align: justify;

    
}

.button{
    border: 0px solid;
    border-radius: 5px;
    padding-right: 5px;
    margin-left: 30px;

    background-color: slateblue;
    box-shadow: 1px 1px 2px rgb(20, 11, 36);
}


.field_det{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 0px;
    border-radius: 5px;
    background-color: slateblue;
    box-shadow: 1px 1px 2px rgb(20, 11, 36);
    
    padding-left: 2px;
    padding-right: 1px;
    padding-bottom: 3px;

    text-align: justify;
}

.fieldfoot{
   position:absolute;
   right: -1%;
   bottom:  -10%;
}

.r-img{
    position: absolute;
    top: 20%;
    left: 0%;
    border-radius: 6px;
    border: 2px solid slateblue;
    
}

a:link{
    color: rgb(229, 224, 255);

}

a:visited{
    color: rgb(177, 155, 255);
}

a:hover{
    color: lightgrey;
    transition: 200ms ease;
}

#fade-in{
    -webkit-animation-name:fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;

}

@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    100%{}
}

#img-anim{
    -webkit-animation-name: img-anim;
    -webkit-animation-duration: 1.5s;
}
@keyframes img-anim{
    0%{
        opacity: 0%;
    }
    80%{
        opacity: -5%;
    }
    100%{

    }
}

#open-up{
    
    -webkit-animation-name: open-up;
    -webkit-animation-duration: 1.2s;

}

@keyframes open-up{
    0%{
        transform: translate(-100%)

    }
    55%{
        transform: translate(1%)

    }
    100%{

    }
}

#open-up2{
    
    -webkit-animation-name: open-up2;
    -webkit-animation-duration: 1.2s;

}

@keyframes open-up2{
    0%{
        transform: translate(100%)

    }
    55%{
        transform: translate(-1%)

    }
    100%{

    }
}

