body{
    color: lightgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 8%;
    text-align: justify;
    width: 80%;
    background-color: rgb(20,20,125);
}

.borda{
    background-color: snow;
    border: solid 2px snow ;
    border-radius: 8%;
}

footer{
    position: fixed;
    bottom: 5%;
}

link:active{
    color: lime;
}