body{
    color: rgb(190, 190, 220);
    font-family: 'nsimsun';

    background-color: rgb(40, 38, 51);

}

.section1{
    align-self: start;
    display: flex;
}

.section2{
    display: flex;

}
.flexdiv{

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    border: solid 1px rgb(190, 190, 220);


}

.grid-cntnr{

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-column: 1 / 2;
    justify-content: space-around;
    align-content: end;



}

.gbox{
    border: 1px solid green;
    border-collapse: collapse;
    color: snow;
    margin: 10px;
}