
            .geral{
                font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
                color: brown;
                text-align: justify;
                position:relative ;
                left: 013%;
                width: 078%;
            }
            .exc{
                font-family: 'Lucida Sans', Arial, sans-serif;
                text-align:start;
                color: darkslateblue;
